logging:
  level:
    org.springframework.security: DEBUG

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:7200/eureka/

security:
  oauth2:
    resource:
      user-info-uri: http://localhost:7300/oauth2-server/users/current

ribbon:
  ReadTimeout: 20000
  ConnectTimeout: 20000