spring:
  profiles:
    active: native
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/microservice-configs

server:
  port: 7000

security:
  user:
    password: Kurbis3874569
